<style>
    .info-row {
        weidth: 100%;
    }

    .date-text {
        display: inline-block;
        float: right;
    }

    .short-desc {
        display: inline-block;
    }
</style>

<div class="col-sm-12">
    <br>
    <p>
    <h3>List of all posts:</h3></p>
    <label>Search by title or keywords: <input ng-model="searchText"></label>
    <br>
    <hr>

    <div ng-repeat="post in postsList | orderBy:'-date' | filter: search">
        <h1>
            <a href="#post/{{post.uUID}}">{{post.title}}</a>
        </h1>
        <div class="info-row">
            <p class="short-desc"><b>{{post.shortDesc}}</b></p>
            <p class="date-text">{{post.date | date:"dd/MM/yyyy 'at' h:mma"}}</p>
        </div>
        <div>
            <p><b>Keywords:</b> {{post.keywords}}</p>
        </div>
        <hr>
    </div>
</div>